<div class="container">
  <!-- Main Room Details Section -->
  <div class="room-details-card">
    <div class="room-image">
      <img src="{{roomImage}}" alt="{{ roomName }} {{ roomType }}" class="responsive-img">
    </div>
    <div class="room-info">
      <p><strong>{{ guests }} Guests | {{ roomType }}</strong></p>
      <h2>{{ roomName }} </h2>
      <p>{{ address }}</p>
      <div class="confirmation-info">
        <p><strong>Confirmation Code:</strong> {{ bookingId }}</p>
        <p><strong>Room Number:</strong> {{roomNumber}}</p>
        <p><strong>Room Code:</strong> {{digitalKey}}</p>
        <p><strong>Check In:</strong> {{ checkInDate | date: 'MMM d, y' : 'UTC' }} at {{ checkInTime | timeFormat }}</p>
        <p><strong>Check Out:</strong> {{ checkOutDate | date: 'MMM d, y' : 'UTC' }} at {{ checkOutTime | timeFormat }}</p>        
      </div>

      <!-- Preview changes -->
      <div *ngIf="checkInChanged || checkOutChanged" class="preview-section">
        <h2 class="red-text">Preview Your Changes:</h2>
        <p class="red-text" *ngIf="checkInChanged">
          <strong>New Check-In Time:</strong> {{ newCheckInTime | timeFormat }}
        </p>
        <p class="red-text" *ngIf="checkOutChanged">
          <strong>New Check-Out Time:</strong> {{ newCheckOutTime | timeFormat }}
        </p>
      </div>

      <div class="right" *ngIf="areTimesChanged() && !isUpdateSuccessful">
        <button class="btn" type="submit" name="action" (click)="updateBooking()" [disabled]="loading">
          <span *ngIf="!loading">Update</span>  
          <i *ngIf="loading" class="material-icons center">sync</i>
          <i *ngIf="!loading" class="material-icons right">update</i>
        </button>
      </div>

    </div>
  </div>

  <!-- Sidebar: Reservation and Neighborhood Info -->
  <div class="sidebar-section">
    <div class="reservation-status">
      <h4>Reservation confirmed. You're all set!</h4>
      <p>Access information will be sent 3 days prior to check-in.</p>
      <button class="btn" (click)="openCheckInTime()">Edit check-in time</button>
      <button class="btn" (click)="openCheckOutTime()">Edit check-out time</button>
    </div>

    <div class="upgrade-section">
      <h4>Upgrade your stay</h4>
      <p>Enhance your experience using our additional services.</p>
      <button class="add-btn">Additional Services</button>
    </div>

    <div class="neighborhood-section">
      <h4>Your Neighborhood</h4>
      <p>Explore the local area with curated information about the best restaurants, shopping, and more.</p>
      <button class="explore-btn">Explore more</button>
    </div>
  </div>
</div>


<!-- Modal for Check-In -->
<div *ngIf="isCheckInModalVisible" class="modal-container">
  <div class="modal-content">
    <h4>Check-In</h4>
    <p>Select your preferred check-in time:</p>
    <input
      type="time"
      [(ngModel)]="newCheckInTime"
      (change)="updateCheckInTime(newCheckInTime)"
    />
    <!-- Validation Message -->
    <p *ngIf="validationMessage" class="validation-message">
      {{ validationMessage }}
    </p>
    <button class="btn confirm-btn" (click)="confirmCheckInTime()">Confirm</button>
    <button class="btn cancel-btn" (click)="closeModal()">Cancel</button>
  </div>
</div>

<!-- Modal for Check-Out -->
<div *ngIf="isCheckOutModalVisible" class="modal-container">
  <div class="modal-content">
    <h4>Check-Out</h4>
    <p>Select your preferred check-out time:</p>
    <input
      type="time"
      [(ngModel)]="newCheckOutTime"
      (change)="updateCheckOutTime(newCheckOutTime)"
    />
    <!-- Validation Message -->
    <p *ngIf="validationMessage" class="validation-message">
      {{ validationMessage }}
    </p>
    <button class="btn confirm-btn" (click)="confirmCheckOutTime()">Confirm</button>
    <button class="btn cancel-btn" (click)="closeModal()">Cancel</button>
  </div>
</div>
