<!-- client/src/app/pages/login/login.component.html -->
<div class="modal-background" (click)="closeLogin($event)">
  <div class="modal-container blue-grey white-text" (click)="$event.stopPropagation()">
    <div class="container">
      <div class="center">
        <h6>Login</h6>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="input-field">
          <input id="email" type="email" formControlName="email" class="validate white-text">
          <label for="email">Email Address</label>
        </div>
        <div class="input-field">
          <input id="password" type="password" formControlName="password" class="validate white-text">
          <label for="password">Password</label>
        </div>
        <!-- Display error message -->
        <div *ngIf="errorMessage" class="red-text">{{ errorMessage }}</div>
        <div class="modal-footer">
          <button type="submit" class="btn wave-effect waves-light">Login</button>
          <button type="button" class="btn-flat modal-close white-text" (click)="closeLogin()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>