@media (max-width: 600px) {
    
    /* Make the card field larger */
    .card-field {
      width: 150%;               /* Full width on mobile */
      min-height: 10px;           /* Increase the minimum height */
      box-sizing: border-box;
    }
}

#card-errors{
  padding-top: 10px;
}