.main-content {
  flex: 1;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the content-wrapper takes the full height */
}

.page-footer {
    padding-top: 20px;
  }
  
  .page-footer .container {
    margin-bottom: 0;
  }
  
  .page-footer h5 {
    margin-bottom: 20px;
  }
  
  .page-footer ul li a {
    text-decoration: none;
  }