<div class="content-wrapper">
  <!-- Main content area -->
  <div class="main-content">
    <router-outlet></router-outlet>
    <!-- Other content goes here -->
  </div>

  <!-- Footer -->
  <footer class="page-footer blue-grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"><i class="material-icons">hd</i> Fonder</h5>
          <p class="grey-text text-lighten-4">
            We provide quality services to help you manage your projects and
            teams efficiently.
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Social</h5>
          <div class="row">
            <div class="col l1 m1 s1">
              <i class="material-icons">facebook</i>
            </div>
            <div class="col l1 m1 s1">
              <i class="material-icons">android</i>
            </div>
            <div class="col l1 m1 s1">
              <i class="material-icons">public</i>
            </div>
            <div class="col l1 m1 s1">
              <i class="material-icons">smartphone</i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2024 Fonder Holdings Inc. All rights reserved
      </div>
    </div>
  </footer>
</div>
