<div class="hero-section">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <div class="white-text">
                        <h1 class="header-text">A better way to stay</h1>
                        <p class="sub-text">Inspiring, award-winning design meets modern, mobile-first service.</p>
                        <p class="sub-text">Welcome to the future of hospitality</p>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card overlay-form">
                        <div class="card-content white-text">
                            <span class="card-title">Start Booking</span>
                            <form class="row" (submit)="searchRooms()">
                                <div class="input-field col s12 m6">
                                    <i class="material-icons prefix blue-grey-text">perm_contact_calendar</i>
                                    <input placeholder="Check-in" type="date" [(ngModel)]="checkIn" name="check-in-date" (change)="validateDates()" [min]="today"  class="datepicker white-text">
                                </div>
                                <div class="input-field col s12 m6">
                                    <i class="material-icons prefix blue-grey-text">perm_contact_calendar</i>
                                    <input placeholder="Check-out" type="date" [(ngModel)]="checkOut" name="check-out-date" (change)="validateDates()" [min]="checkIn" class="datepicker white-text" >
                                </div>
                                <div class="input-field col s12 m6">
                                    <i class="material-icons prefix blue-grey-text">person</i>
                                    <input placeholder="Adults" type="number" [(ngModel)]="adults" name="adults" (input)="validateDates()" class="white-text">
                                </div>
                                <div class="input-field col s12 m6">
                                    <i class="material-icons prefix blue-grey-text">child_care</i>
                                    <input placeholder="Children" type="number" [(ngModel)]="children" name="children" class="white-text">
                                </div>
                                <div class="center">
                                    <button type="submit"  class="btn blue-grey" [disabled]="!isFormValid">
                                        Book Now
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  