<div class="hero-section">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <div class="white-text">
                        <h1 class="header-text">A better way to stay</h1>
                        <p class="sub-text">Inspiring, award-winning design meets modern, mobile-first service.</p>
                        <p class="sub-text">Welcome to the future of hospitality</p>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card overlay-form">
                        <div class="card-content white-text">
                            <span class="card-title">Start Booking</span>
                            <form class="row">
                                <div class="input-field col s12 m6">
                                    <i class="material-icons prefix blue-grey-text">perm_contact_calendar</i>
                                    <input placeholder="Check-in" type="date" class="datepicker white-text">
                                </div>
                                <div class="input-field col s12 m6">
                                    <i class="material-icons prefix blue-grey-text">perm_contact_calendar</i>
                                    <input placeholder="Check-out" type="date" class="datepicker white-text">
                                </div>
                                <div class="input-field col s12 m6">
                                    <i class="material-icons prefix blue-grey-text">person</i>
                                    <input placeholder="Adults" type="number" class="white-text">
                                </div>
                                <div class="input-field col s12 m6">
                                    <i class="material-icons prefix blue-grey-text">person</i>
                                    <input placeholder="Children" type="number" class="white-text">
                                </div>
                            </form>
                            <div class="card-action center">
                                <button class="btn waves-effect waves-light blue-grey darken-2" [routerLink]="['/room-select']">
                                    Book Now
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  